

<div class="container">
    <div class="row">
        <div class="col-sm-12 bg-primary"  style="height: 650px;">
            <div class="container">
              <select id="mySelect1" class="btn btn-default dropdown-toggle"   style=" margin-left: 30px; margin-top: 30px; padding-right:10px;">
                <option value="apple">Reliance Industries Ltd.</option>              
                  <option value="orange">Tata Steel Industries Ltd.</option>
                <option value="pineapple">Eichermont Industries Ltd.</option>
                <option value="banana">Ashokley Industries Ltd.</option>
                <option value="banana">Cipla Industries Ltd.</option>
              </select>
                
                  <h4 style="color:white; text-align: center;     margin-bottom: 10px; margin-top: -21px;">
                    CHARTS
                  </h4>
                  <hr style="border-top: 2px solid orange; width: 40px; margin-top: 10px; "> 
                  <p style="    margin-top: -22px;
                  margin-left: 31px;
                  font-size: 16px;">Chart</p>
                  <hr style="border-top: 3px solid orange;
                  width: 100px;
                  margin-bottom: -22px;
                  margin-left: 38px;  "> 
                  <hr style="      width: 963px;
                  margin-left: 138px;">
                  <div class="container" style=" background-color: rgb(22, 86, 141);
                  height: 53px;
                  margin-top: -20px;
                  margin-left: 37px;
                  width: 1065px;
                  margin-bottom: 30px;
                  padding-top: 19px;">
<button style="background-color: #698DAE;  margin-top: -10px;" type="button" class="btn  btn-sm">1D</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1W</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">3M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">6M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">2Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">5Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">ALL</button>
                                           
                </div>
                <div style="margin-bottom: 10px;">
                  <span style="margin-left: 37px;">27 june 2020</span>
                  <span  style="margin-left: 30px;">Open:{{todayStock.open | number : '2.2-2'}}</span>
                  <span  style="margin-left: 30px;">High:{{todayStock.high | number : '2.2-2'}}</span>
                  <span  style="margin-left: 30px;">Low:{{todayStock.low | number : '2.2-2'}}</span>
                  <span  style="margin-left: 30px;">Close:{{todayStock.close | number : '2.2-2'}}</span>
                  <span  style="margin-left: 30px;">Volume:{{todayStock.volume | number : '2.2-2'}}</span>
                </div>
                <div class="container" style="height: 400px; background-color: white; width: 1064px; ">
                   
                <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                 
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>

        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
