

<div class="container">
    <div class="row">
        <div class="col-sm-12 bg-primary"  style="height: 600px;">
            <div class="container">
                <div class="dropdown"  style="    margin-left: 30px; margin-top: 30px;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="padding-right:10px;">Reliance Industries Ltd.
                    <span class="caret" style="margin-left:30px"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Tata Steel Industries Ltd.</a></li>
                      <li><a href="#">Eichermont Industries Ltd.</a></li>
                      <li><a href="#">Ashokley Industries Ltd. </a></li>
                      <li><a href="#">Cipla Industries Ltd.</a></li>
                      
                    </ul>
                  </div>
                  <h4 style="color:white; text-align: center;     margin-bottom: 10px; margin-top: -21px;">
                    CHARTS
                  </h4>
                  <hr style="border-top: 2px solid orange; width: 40px; margin-top: 10px; "> 
                  <p style="    margin-top: -22px;
                  margin-left: 31px;
                  font-size: 16px;">Chart</p>
                  <hr style="border-top: 3px solid orange;
                  width: 100px;
                  margin-bottom: -22px;
                  margin-left: 38px;  "> 
                  <hr style="      width: 963px;
                  margin-left: 138px;">
                  <div class="container" style=" background-color: rgb(22, 86, 141);
                  height: 53px;
                  margin-top: -20px;
                  margin-left: 37px;
                  width: 1065px;
                  padding-top: 19px;">
<button style="background-color: #698DAE;  margin-top: -10px;" type="button" class="btn  btn-sm">1D</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1W</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">3M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">6M</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">1Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">2Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">5Y</button>
<button style="background-color: #698DAE;  margin-top: -10px;     margin-left: 10px;" type="button" class="btn  btn-sm">ALL</button>
                                           
                </div>
                <div class="container" style="height: 400px; background-color: white; width: 1064px; ">
                   
                <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                 
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>

        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
