<div  *ngIf='login();  else else1Block'>

<button class="button1" onclick="document.getElementById('id02').style.display='block'" style="width:auto; float: right;     margin-right: 69px">Register</button>
<button class="button1" onclick="document.getElementById('id01').style.display='block'" style="width:auto; float: right;     margin-right: 69px">Login</button>
</div>
<ng-template #else1Block>
    <div style="margin-top: 10px; ">
    <span style="margin-left: 900px; margin-top: 10px;   font-size: 20px;">Hi,{{service.name}} !!!</span>
<button class="button1" (click)='logOut()' style="width:auto; float: right;     margin-right: 69px">Logout</button>
</div>
</ng-template>

<div id="id02" class="modal">
  
  <form class="modal-content animate" #RegForm="ngForm" method="post" style="    width: 361px;     ">
  

    <div class="container" style="    width: 307px;">
     <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn" style="  float:right; border:none">X</button>
   
     <label for="uname"  style="margin-top:10px;"><b>Username</b></label>
      <input type="text" class="form-input form-control" [(ngModel)]="userr.userName"  #username="ngModel"  maxlength=10 minlength=6  placeholder="Enter Username" name="uname" required>
    
      <label for="email" style="margin-top:10px;"><b>Email</b></label>
      <input type="text" class="form-input form-control" [(ngModel)]="userr.email"  #email="ngModel"  maxlength=10 minlength=6 placeholder="Enter Email" name="Email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-input form-control" [(ngModel)]="userr.password"  #password="ngModel"  maxlength=10 minlength=6  placeholder="Enter Password" name="psw" required>
        
      <button type="submit" onclick="document.getElementById('id02').style.display='none'" class="btn" style="background-color: black; color: white; align-items: center;     margin-left: 98px;" (click) = "regSubmit()" >Register</button>
     
    </div>
    <div class="text-danger">
        <div *ngIf="RegForm.touched && username.errors?.required">Please enter username</div>

        <div *ngIf="RegForm.touched && email.errors?.required">Please enter email</div>
           
        <div *ngIf="RegForm.touched && password.errors?.required">Please enter password</div>
        </div>
  
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>







<div id="id01" class="modal">
  
  <form class="login-form"  #loginForm="ngForm"
  (ngSubmit)="loginSubmit(loginForm.value)" novalidate style="    width: 361px; background-color: white;margin: auto;">
  

    <div class="container" style="    width: 307px;">
     <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style="  float:right; border:none">X</button>
      
     
     <label for="email" style="margin-top:10px;"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" class="form-input form-control" [(ngModel)]="user.email"  #email="ngModel"  maxlength=10 minlength=6  name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" class="form-input form-control"  #password="ngModel"  maxlength=10 minlength=6  [(ngModel)]="user.password"  required>
        
      <button type="submit" onclick="document.getElementById('id01').style.display='none'" class="btn" style="background-color: black; color: white; align-items: center;     margin-left: 98px;" >Login</button>
     
    </div>
    <div class="text-danger">
        <div *ngIf="loginForm.touched && email.errors?.required">Please enter email</div>
        <div *ngIf="loginForm.touched && password.errors?.required">Please enter password</div>
        </div>
  
  </form>
  
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>







    <div class="container">
        <select [(ngModel)]='value' (click)='valReturn()' class="btn btn-default dropdown-toggle"  style="    margin-left: 30px; margin-top: 30px;" id="mySelect">
            <option value="NSE" id="NSE">NSE</option>
            <option value="BSE" id="BSE">BSE</option>
            
          </select>
   

        
        
       
   
    <p style=" font-size: 28px;  margin-left: 30px;"><b>NIFTY 50</b></p>
    <hr style=" border-top: 2px dashed grey;">
   
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
    
                <b style="    font-size: 50px;margin-left: 17px;">{{todayStock.open | number : '2.2-2'}}</b><br>
                
                <i class="fa fa-angle-up" style="font-size:40px;color: teal;"> </i>
                <b style="color: teal;font-size: 25px;margin-left: 12px; margin-top: 3px;">23.40(0.21%)</b>
                 <p class="gray">As on 13 Aug 2020 </p>
            </div>
            <div class="col-sm-5" style="    margin-left: 273px;font-size: 15px;">
                <p class="gray"> Day Range</p>
                <span>{{todayStock.high | number : '2.2-2'}}</span>
                <span style=" margin-left: 337px;">{{todayStock.low  | number : '2.2-2'}}</span>
               <p class="gray" style="padding-top: 10px;">L</p> 
               <h3 style="color : teal; margin-top: -40px;
               margin-left: 127px;
               margin-bottom: 15px;">	&#9679;</h3>
               <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px"> 
             
               <p class="gray" style="    float: right;margin-top: -31px;">H</p>
               <p class="gray"> 52 Week Range</p>
               <span>{{7510.11}}</span>
                <span style=" margin-left: 337px;">12,430.50</span>
               <p class="gray" style="padding-top: 10px;">L</p> 
               <h3 style="color : teal; margin-top: -40px;
               margin-left: 133px;
               margin-bottom: 15px;">	&#9679;</h3>
               <hr style="border-top:2px solid black;     margin-top: -22px; margin-left: 26px; width: 401px">
               <p class="gray" style="    float: right;margin-top: -31px;">H</p>
            </div>
        </div>
        <hr style=" border-top: 2px dashed grey;">
    </div>
                <hr style=" border-top: 2px solid grey;">
               <p class="gray">OVERVIEW</p> 
                <div class="divider div-transparent div-arrow-down"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 " style="    margin-top: 23px;">
                            <div  style="margin-bottom: -20px;">
                                <p class="gray" style=" display:inline-block;    margin-right: 282px; margin-left: 24px">Open</p>
                                <b style="display:inline-block;">{{todayStock.open | number : '2.2-2'}}</b></div>
                                <hr style=" border-top: 1px solid grey;">

                                <div  style="margin-bottom: -20px;">
                                    <p class="gray" style=" display:inline-block;    margin-right: 230px; margin-left: 24px">Previously Close</p>
                                    <b style="display:inline-block;">{{todayStock.close | number : '2.2-2'}}</b></div>
                                    <hr style=" border-top: 1px solid grey;">

                                <div  style="margin-bottom: -20px;">
                                <p  class="gray" style=" display:inline-block;    margin-right: 282px; margin-left: 24px">Day High</p>
                                <b style="display:inline-block;">{{todayStock.high | number : '2.2-2'}}</b></div>
                                <hr style=" border-top: 1px solid grey;">
                            </div>


                            <div class="col-sm-5 " style="      margin-left: 156px; margin-top: 23px;">
                                <div  style="margin-bottom: -20px;">
                                    <p class="gray" style=" display:inline-block;    margin-right: 282px; margin-left: 24px">Day Low</p>
                                    <b style="display:inline-block;">{{todayStock.low | number : '2.2-2'}}</b></div>
                                    <hr style=" border-top: 1px solid grey;">
                                    <div  style="margin-bottom: -20px;">
                                    <p class="gray" style=" display:inline-block;    margin-right: 282px; margin-left: 24px">52 Week High</p>
                                    <b style="display:inline-block;">11,535.30</b></div>
                                    <hr style=" border-top: 1px solid grey;">
                                    <div  style="margin-bottom: -20px;">
                                    <p class="gray" style=" display:inline-block;    margin-right: 282px; margin-left: 24px">52 Week Low</p>
                                    <b style="display:inline-block;">11,535.30</b></div>
                                    <hr style=" border-top: 1px solid grey;">
                                </div>
                                
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="chip">
                        <div class="content">
                            <div class="left">
                                <p style="    margin-top: -62px;
                                color: #acb0b3;
                                font-size: 12px;">NSE</p>
                                <p style="    margin-top: -34px;
                                font-size: 24px;">NIFTY 50</p>
                                <p style="    margin-left: -9px;    margin-top: -24px;
                                font-size: 35px;"> {{todayStock.open  | number : '2.2-2'}}</p>
                            </div>
                            <div class="right" style="float: right;
                            margin-top: 101px;
                            margin-right: -146px;">
                                <p style="margin-top: -106px;color: #acb0b3;font-size: 12px;">PREV CLOSE</p>
                                <p style="margin-top: -40px;">{{todayStock.adjClose  | number : '2.2-2'}}</p>
                            </div>
                            <br>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
<br>
             
         <br>
         <br>
    
   
